.git
.gitignore
__pycache__/
*.pyc
notebook/
data/train/
data/val/
data/test/
data/incoming/
data/*.png
tmp_uploads/
models/candidate_model.keras
models/*checkpoint*
models/retrain_log.json
ui/
*.md
.venv/
venv/
